body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Rubik", "Arial", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

h1, h2, h3, p, form {
  margin: 0;
  padding: 0;
  color: #2E2E2E;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.raw-cta {
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid #fff;
  padding: 20px 45px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

  .raw-cta:focus {
    outline: none;
  }

header {
  height: 100vh;
  width: 100vw;
  background: url(images/peacefulbeach.jpg) center center;
  background-size: cover;
}

  .bg-stripes {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(45deg, transparent 25%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.2) 75%);
    background-image: -o-linear-gradient(45deg, transparent 25%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.2) 75%);
    background-image: linear-gradient(45deg, transparent 25%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.2) 75%);
    background-size:5px 5px;
    z-index: 2;
  }

    .mb-title {
      position: absolute;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.4);
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      padding: 25px 0;
      text-align: center;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

      .mb-title h1 {
        font-size: 96px;
        color: #fff;
        font-weight: 200;
        line-height: 1;
      }

      .utitle {
        width: 300px;
        display: block;
        margin: 0 auto;
      }

        .utitle p {
          padding: 2px 0 2px 0;
          font-size: 28px;
          color: #fff;
        }

.nav-open {
  height: 100vh;
  background-color: #2e2e2e;
  width: 300px;
  left: -300px;
  position: fixed;
  z-index: 5;
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav--show {
  opacity: 0.9;
  transform: translateX(300px);
}

  .nav--close-cta {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    height: 5vh;
    width: auto;
    display: block;
    cursor: pointer;
  }

    .nav--close-cta p {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 45px;
      color: #fff;
      font-weight: 700;
    }

    .close--cta-x {
      margin: 5px;
      display: inline-block;
    }

      .sbar1 {
        height: 5px;
        width: 32px;
        background-color: #fff;
        transform: rotate(-45deg) translate(25px, 25px);
        display: inline-block;
      }

      .sbar2 {
        height: 5px;
        width: 32px;
        background-color: #fff;
        transform: rotate(45deg);
        display: inline-block;
      }

  nav {
    height: 90vh;
    position: relative;
    top: 5vh;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

    nav ul {
      list-style: none;
    }

      nav ul li {
        padding: 15px 0 15px 0;
        margin: 0 30px 0 0;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
      }

      nav ul li:hover {
        transform: translateX(-5px);
      }

      nav ul a {
        text-decoration: none;
      }

      .triangle {
        position: relative;
        background: #88b7d5;
      }

      .triangle::after {
        content: '';
        position: absolute;
        /* 28px, 78px, 127px, 175px */
        top: 28px;
        right: 0;
        background-color: #fff;
        width: 20px;
        height: 20px;
        clip-path: polygon(100% 0, 45% 50%, 100% 100%);
      }

    .logout-cta {
      position: absolute;
      right: 0;
      display: inline-block;
      text-align: right;
      margin-top: 5.8vh;
    }

      .logout-cta button {
        border: none;
        background-color: inherit;
        font-size: 16px;;
        color: #fff;
        cursor: pointer;
        padding: 10px 30px 10px 10px;
        transition: all 0.3s ease-in-out;
      }

        .logout-cta button:hover {
          padding-left: 250px;
          background-color: #000;
          color: #fff;
        }

        .logout-cta button > p {
          color: #fff;
        }

        .logout-cta button:hover > p{
          color: #fff !important;
        }

        .logout-cta button:focus {
          outline: none;
        }

.umich {
  width: 100%;
  height: auto;
  padding: 150px 0;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

  .menu--cta {
    width: 130px;
    font-weight: 700;
    position: fixed;
    display: inline-block;
    margin: 10px 0 0 10px;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .menu--hide {
    opacity: 0;
  }


    .mbar1 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .mbar2 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .mbar3 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .menu--cta p {
      display: block;
      position: absolute;
      top: calc(50% - 9px);
      left: 42px;
    }

  .umich-content {
    margin: 0 auto;
    width: 55%;
    height: auto;
  }

    .umich-title {
      width: 100%;
      min-width: 300px
      height: auto;
      border-bottom: 3px solid #2e2e2e;
    }

      .umich-title h2 {
        display: inline-block;
        padding: 5px 10px 2px 10px;
        border-left: 3px solid #2e2e2e;
        color: #2e2e2e;
        font-size: 36px;
        font-weight: 400;
      }

    .umich-content p {
      padding: 15px 10px 5px 5px;
      margin: 0;
      border-right: 3px solid #2e2e2e;
      font-size: 16px;
      text-align: center;
      line-height: 1.4;
    }

    .umich-content p a {
      color: inherit;
      text-decoration: underline;
    }

.youtube {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #2e2e2e;
  transition: all 0.5s ease-in-out;
}

  .youtube .column-1 {
    width: 600px;
    height: 500px;
    margin: 5% 10%;
    min-width: 300px;
  }

    .yt-p {
      width: 90%;
      display: block;
      color: #fff;
      margin: 10px auto 0 auto;
      padding: 5px 0 5px 5px;
      border-left: 3px solid #fff;
      opacity: 0;
      transform: translateX(-100px);
      transition: all 0.5s ease-in-out;
    }

    .yt-h2 {
      color: #fff;
      font-size: 54px;
      opacity: 0;
      transform: translateX(-50px);
      transition: all 0.5s ease-in-out;
    }

      .youtube .column-1 h2 span {
        font-size: 64px;
      }

    .yt-img {
      transform: scale(1.15);
      position: absolute;
      top: 27.5%;
      opacity: 0;
      transform: translateX(50px) rotate3d(0, -2, 0, -30deg);
      transition: all 0.5s ease-in-out;
    }

  .youtube .raw-cta {
    position: absolute;
    top: 82.5%;
    left: calc(50% - 127px);
  }

  .youtube .raw-cta:hover {
    background-color: #fff;
    color: #2e2e2e;
  }

.github {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

  .github .column-1 {
    width: auto;
    max-width: 600px;
    height: auto;
    margin: 0% 7.5%;
    position: relative;
}

    .img1 {
      display: block;
      position: relative;
      height: 253px;
      width: 450px;
      opacity: 0;
      transform: translateX(-50px);
      border: 3px solid #2e2e2e;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

    .img2 {
      display: block;
      position: relative;
      height: 253px;
      width: 450px;
      margin: 20px 0 0 0;
      opacity: 0;
      transform: translateX(-100px);
      border: 3px solid #2e2e2e;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

      .img1 .hover-t {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(50px);
        transition: all 0.3s ease-in-out;
      }

      .img2 .hover-t {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(50px);
        transition: all 0.3s ease-in-out;
      }

        .img1:hover > .hover-t {
          transform: translateY(0px);
        }

        .img2:hover > .hover-t {
          transform: translateY(0px);
        }

      .gh-img-1 {
        height: 100%;
        width: 100%;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
      }

      .gh-img-2 {
        height: 100%;
        width: 100%;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
      }

        .img1:hover > .gh-img-1{
          transform: scale(1.2);
        }

        .img2:hover > .gh-img-2 {
          transform: scale(1.2);
        }

        .gh-img:hover {
          /*fill*/
        }

    .gh-h2 {
      text-align: right;
      font-size: 54px;
      opacity: 0;
      transform: translateX(50px);
      transition: all 0.5s ease-in-out;
    }

      .gh-h2 span {
        font-size: 64px;
      }

    .gh-p {
      width: 90%;
      display: block;
      text-align: right;
      color: #2e2e2e;
      margin: 10px auto 0 auto;
      padding: 5px 5px 5px 0px;
      border-right: 3px solid #2e2e2e;
      opacity: 0;
      transform: translateX(100px);
      transition: all 0.5s ease-in-out;
    }

  .github .raw-cta {
    color: #2e2e2e;
    border-color: #2e2e2e;
    position: absolute;
    float: right;
    bottom: 0%;
    left: calc(50% - 125px);
    display: block;
  }

  .github .raw-cta:hover {
    color: #fff;
    background-color: #2e2e2e;
  }

.kontakt {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  background-color: #FF4949;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}

  .kontakt .column-2 {
    height: auto;
    width: 60%;
  }

    .k-h2 {
      text-align: center;
      font-size: 64px;
      color: #fff;
      opacity: 0;
      transform: translateX(-50px);
      transition: all 0.5s ease-in-out;
    }

    .kontakt-form {
      width: 100%;
      height: auto;
      max-width: 900px;
      min-width: 470px;
      margin: 100px 0 0 0;
      position: relative;
      display: inline-block;
      opacity: 0;
      transform: translateX(-50px);
      transition: all 0.5s ease-in-out;
    }

      #name{
        width: 48.5%;
        height: 50px;
        float: left;
        margin: 5px 0 20px 5px;
        box-sizing: border-box;
        padding: 10px;
        border: 3px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        font-family: inherit;
        font-size: 16px;
      }

      #name:focus {
        outline: none;
      }

      #email {
        width: 48.5%;
        height: 50px;
        float: right;
        margin: 5px 5px 20px 0;
        box-sizing: border-box;
        padding: 10px;
        border: 3px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        font-family: inherit;
        font-size: 16px;
      }

      #email:focus {
        outline: none;
      }

      #nachricht {
        width: calc(100% - 10px);
        box-sizing: border-box;
        resize: none;
        padding: 10px;
        margin: 10px 5px;
        display: block;
        clear: both;
        border: 3px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        font-family: inherit;
        font-size: 16px;
      }

      #nachricht:focus {
        outline: none;
      }

      .kontakt-form .raw-cta {
        margin: 10px 0 0 5px;
        float: left;
      }

        .kontakt-form .raw-cta:hover {
          background-color: #fff;
          color: #FF4949;
        }

.footer-hr {
  display: block;
  height: 7.5px;
  width: 100%;
  background-color: #2e2e2e;
  margin-bottom: 252.5px;
  z-index: 10;
}

.footer {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: #000;
}

  .footer .column-1 {
    margin: 0 15%;
    width: auto;
  }

    .footer p {
      color: #fff;
      font-size: 14px;
    }

    .footer p a {
      color: #fff;
      text-decoration: none;
    }

    .footer p a:hover {
      text-decoration: underline;
    }

.c-show {
  opacity: 1;
  transform: translateX(0px);
}

.um-triangle::after {
  content: '';
  top: 28px;
  background-color: #fff;
}

.yt-triangle::after {
  content: '';
  top: 78px;
  background-color: #2e2e2e;
}

.gh-triangle::after {
  content: '';
  top: 127px;
  background-color: #fff;
}

.k-triangle::after {
  content: '';
  top: 175px;
  background-color: #FF4949;
}

/*Anpassung Makierung*/

::selection {
  background: rgba(255, 0, 30, 0.6);
}

::-moz-selection {
  background: rgba(255, 0, 30, 0.6);
