body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Rubik", "Arial", sans-serif;
  font-size: 14px;
}

h1, h2, h3, p, form {
  margin: 0;
  padding: 0;
  color: #2E2E2E;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-1 {
  width: 600px;
  height: 500px;
}

.raw-cta {
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid #fff;
  padding: 20px 45px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.umich {
  width: 100%;
  height: 800px;
  background-color: #fff;
}

  .menu--cta {
    width: 130px;
    font-weight: 700;
    position: fixed;
    display: inline-block;
    margin: 10px 0 0 10px;
    cursor: pointer;
  }


    .mbar1 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .mbar2 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .mbar3 {
      height: 5px;
      width: 32px;
      background-color: #2e2e2e;
      margin: 5px 0;
    }

    .menu--cta p {
      display: block;
      position: absolute;
      top: calc(50% - 9px);
      left: 42px;
    }

  .mb-title {
    text-align: center;
  }

    .mb-title h1 {
      font-size: 96px;
      font-weight: 200;
      line-height: 1;
      padding: 25px 0 0 0;
    }

    .utitle {
      width: 300px;
      display: block;
      margin: 0 auto;
    }

      .utitle p {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 5px 0 5px 0;
        font-size: 28px;
        color: #fff;
      }

  .umich-content {
    margin: 115px auto 0 auto;
    width: 55%;
    height: auto;
  }

    .umich-title {
      width: 40%;
      min-width: 300px
      height: auto;
      border-bottom: 3px solid #FF4949;
    }

      .umich-title h2 {
        display: inline-block;
        border-radius: 10px 0px 0px 0px;
        border: 1px solid #FF4949;
        padding: 5px 10px 2px 10px;
        color: #fff;
        font-size:22px;
        font-weight: 400;
        background-color: #FF4949;
      }

    .umich-content p {
      padding: 5px;
      margin: 15px 0;
      font-size: 16px;
      text-align: center;
      line-height: 1.4;
    }

.youtube {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #2e2e2e;
}

  .youtube .column-1 {
    margin: 5% 10%;
    min-width: 300px;
  }

    .youtube .column-1 p {
      width: 90%;
      display: block;
      color: #fff;
      margin: 10px auto 0 auto;
      padding: 5px 0 5px 5px;
      border-left: 3px solid #fff;
    }

    .youtube .column-1 h2 {
      color: #fff;
      font-size: 54px;
    }

      .youtube .column-1 h2 span {
        font-size: 64px;
      }

    .youtube .column-1 img {
      transform: scale(1.15);
      position: absolute;
      top: 27.5%;
    }

  .youtube .raw-cta {
    position: absolute;
    top: 82.5%;
    left: calc(50% - 127px);
  }

  .youtube .raw-cta:hover {
    background-color: #fff;
    color: #2e2e2e;
  }

.github {
  width: 100%;
  height: 800px;
  background-color: pink;
}
.kontakt {
  width: 100%;
  height: 800px;
  background-color: #2e2e2e;
}
